**/**
run.sh
update.sh
!customized_game_world/
!customized_game_world/paper-world.yml
!plugins/
!plugins/FastAsyncWorldEdit/
!plugins/FastAsyncWorldEdit/config.yml
!eula.txt
!server.properties
!config
!config/paper-global.yml
!plugins/PlugManX.jar
!bukkit.yml
!spigot.yml
!pufferfish.yml
!server-icon.png
!plugins/FastAsyncWorldEdit-Bukkit.jar
!plugins/ViaVersion.jar
!plugins/ViaBackwards.jar
!plugins/Updateman.jar
!plugins/UpdateMan
!plugins/UpdateMan/config.yml
!plugins/cronman
!plugins/cronman/config.yml
!version.txt
!server.sh
!action.yml
!Dockerfile
!.github
!.github/workflows
!.github/workflows/main.yml
