**/**
run.sh
update.sh
!customized_minigame/
!customized_minigame/paper-world.yml
!plugins/
!plugins/FastAsyncWorldEdit/
!plugins/FastAsyncWorldEdit/config.yml
!eula.txt
!server.properties
!config
!config/paper-global.yml
!plugins/PlugManX.jar
!bukkit.yml
!spigot.yml
!pufferfish.yml
!server-icon.png
!plugins/cronman.jar
!plugins/Updateman.jar
!plugins/UpdateMan
!plugins/UpdateMan/config.yml
!plugins/cronman
!plugins/cronman/config.yml
!version.txt
!server.sh
